body {
  background-color: #002332;
  padding-top: 94px;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
}

body {
  font-family: 'Droid Sans', sans-serif;
  color: white;
}

h1 {
  border-bottom: 1px solid white;
}

.navbar {
  background-color: #f5f5f5;
  height: 94px;
}

.navbar li a {
  text-transform: lowercase;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
  padding: 10px 0 0 0;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}

#primary-nav li.active a {
  border-top: 7px solid #00adeb;
  background-color: transparent;
  padding-top: 3px;
}

#primary-nav li:first-child a {
  margin-left: 0;
}

#primary-nav li:last-child a {
  margin-right: 0;
}

#primary-nav {
  padding: 15px 0px 15px 0px;
  margin-top: 7px;
}

#navbar-logo {
  display: block;
  background-image: url('../img/logo.png');
  width: 194px;
  height: 47px;
  margin-top: 24px;
}

#navbar-logo > span {
  display: none;
}
