.member-list .member {
  display: inline-block;
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.member-list .member .photo {
  width: 180px;
  height: 197px;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.member-list .member .photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.612);
}

.member-list .member:hover .photo .overlay {
  background-color: transparent;
}

.member-list .member .name, .member-list .member .position {
  text-align: center;
  opacity: 0.8;
}

.member-list .member:hover .name, .member-list .member:hover .position {
  opacity: 1;
}

.member-list .member .name {
  font-size: 16px;
  margin: 8px 0 0 0;
}

.member-list .member .position {
  font-size: 12px;
  margin: 3px 0 0 0;
}
